@{
    var db = Database.Open("Northwind");
    var customers = db.Query("SELECT * FROM Customers");
    var count = 0;
    
    Page.Title = "Customers";
}

<h1>Customers</h1>

<table class="grid">
    <thead>
        <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Title</th>
            <th>Country</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var customer in customers){
            <tr class="@((++count % 2 == 0) ? "even" : "odd")">
                <td>@customer["Company Name"]</td>
                <td>@customer["Contact Name"]</td>
                <td>@customer["Contact Title"]</td>
                <td>@customer.Country</td>
                <td>
                    <a href="/customers/@customer["Customer ID"]">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>